body {
	height: 100%;
	padding: unset !important;
}

*,
::after,
::before {
	box-sizing: border-box;
}

a {
	text-decoration: none;
}

header {
	border-bottom: 1px solid #C9C9C9;
}

header .container .header-search {
	display: grid;
	height: 100%;
	align-content: center;
}

header .container .header-search .header-search__custom {
	padding: 6px 25px;
	background: #f9f9f9;
	border: 1px solid #ececec;
	border-radius: 25px;
}

header .container .header-search .header-search__custom i {
	color: #b4b4b4;
}

header .container .fa-reorder {
	cursor: pointer;
}

header .container .header-search .header-search__custom input {
	width: 80%;
	border: unset;
	background: #f9f9f9;
}

header .container .header-search .header-search__custom input:focus-visible {
	outline: unset;
}

header .container .header-weather {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	height: 100%;
}

header .container .header-weather h3 {
	font-family: "roboto";
	font-size: 14px;
	font-weight: bold;
	line-height: 14px;
	font-style: normal;
	text-align: left;
	color: #2d2d2d;
}

header .container .header-weather p {
	opacity: 0.62;
	font-family: "roboto";
	font-size: 12px;
	font-weight: 400;
	line-height: 12px;
	font-style: normal;
	text-align: left;
	color: #000000;
}


header .container .header-list-group {
	padding: unset;
	margin: unset;
	height: 100%;
	padding-top: 15px;
	width: 100%;
}


header .container .header-list-group li {
	border: unset;
	border-right: 1px solid #ececec;
	display: inline-block;
	list-style-type: none;
	padding: 0px 7px;
}

header .container .header-list-group li .fa {
	color: rgba(0, 0, 0, 0.54);
}

header .container .header-list-group .header-notification {
	position: relative;
	width: 54px;
}

header .container .header-list-group .header-notification i {
	font-size: 20px;
}

header .container .header-list-group .header-notification span {
	position: absolute;
	padding: 1px 7px;
	background: red;
	color: white;
	border-radius: 15px;
	top: 0;
	right: 11px;
	font-size: 8px;
}

header .container .header-list-group .header-list-group__money,
header .container .header-list-group .header-list-group__language,
header .container .header-user-info {
	position: relative;
}

header .container .header-list-group .header-list-group__money:hover .card {
	display: flex;
	/*opacity: 1;
	 visibility: visible;
	 z-index: 1;*/
}

header .container .header-list-group .header-list-group__language:hover .card {
	display: flex;
	/*opacity: 1;
	 visibility: visible;
	 z-index: 1;*/
}

header .container .header-list-group .header-list-group__money .card,
header .container .header-list-group .header-list-group__language .card {
	position: absolute;
	display: none;
	z-index: 2;
	/*	 visibility: hidden;*/
	width: 780px;
	left: -420px;
	padding: 10px 20px;
	/*    opacity: 0;*/
	/* -webkit-transition: opacity 600ms, visibility 600ms;
  transition: opacity 600ms, visibility 600ms;*/
	box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}

header .container .header-list-group .header-list-group__money .card h4,
header .container .header-list-group .header-list-group__language .card h4 {
	font-size: 14px;
	font-weight: bold;
	line-height: 14px;
	font-style: normal;
	text-align: left;
	color: #3d3d3d;
}

header .container .header-list-group .header-list-group__money .card .header-list-group__money--acronym,
header .container .header-list-group .header-list-group__money .card .header-list-group__money--name,
header .container .header-list-group .header-list-group__language .card .header-list-group__language--name {
	font-size: 14px;
	line-height: 14px;
	font-style: normal;
	color: #3d3d3d;
	align-items: center;
	display: flex;
	height: 100%;
}

header .container .header-list-group .header-list-group__language .card .header-list-group__language--name {
	padding: 8px 20px;
}

header .container .header-list-group .header-list-group__language .card .active .header-list-group__language--name {
	padding: 8px 20px;
	background: #FFE1E8;
	border-radius: 25px;
}

header .container .header-list-group .header-list-group__money .card .header-list-group__money--acronym {
	width: 50px;
}

header .container .header-list-group .header-list-group__language .card .header-list-group__language--img {
	width: 20px;
}

header .container .header-list-group .header-list-group__money .card .active .header-list-group__money--name,
header .container .header-list-group .header-list-group__money .card .active .header-list-group__money--acronym {
	color: #FFA183;
	font-weight: bold;
}

header .container .header-user-info {
	height: 100%;
	border: 1px solid #ececec;
	padding: 10px;
	border-radius: 25px;
	background: #f9f9f9;
}

header .container .header-user-info .header-user-info__img {
	width: 35px;
	height: 35px;
	overflow: hidden;
	height: 100%;
	border-radius: 50%;
}

header .container .header-user-info .header-user-info__content h3 {
	font-size: 14px;
	font-weight: bold;
	line-height: 14px;
	font-style: normal;
	text-align: left;
	color: #3d3d3d;
	margin: unset;
}

header .container .header-user-info .header-user-info__content p {
	font-size: 12px;
	font-weight: 400;
	line-height: 12px;
	font-style: normal;
	text-align: left;
	color: #727272;
	margin-bottom: unset;
}

header .container .header-user-info .header-user-info__content p i {
	color: #ff2c79;
	opacity: 0.54;
}

header .container .header-user-info:hover .list-group {
	display: block;
}


header .container .header-user-info .list-group {
	position: absolute;
	display: none;
	z-index: 2;
	top: 55px;
	right: -10px;
	max-width: unset;
	width: 350px;
	padding: unset;
	box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}

header .container .header-user-info .list-group li:hover {
	background: #d9d9d9;
}

header .container .header-user-info .list-group li {
	font-family: "roboto";
	font-size: 14px;
	font-weight: 500;
	line-height: 14px;
	font-style: normal;
	text-align: left;
}

header .container .header-user-info .list-group li a {
	justify-content: space-between;
	display: flex;
	align-items: center;
	padding: 10px;
	text-decoration: none;
	color: #393939;
}

header .container .header-user-info .list-group h3 {
	font-family: "roboto";
	font-size: 16px;
	font-weight: bold;
	line-height: 16px;
	font-style: normal;
	text-align: left;
	color: #2d2c2c;
}

header .container .header-user-info .list-group li i {
	font-size: 20px;
}

header .container .header-user-info .list-group li .text--small {
	font-family: "roboto";
	font-size: 12px;
	font-weight: 400;
	line-height: 12px;
	font-style: normal;
	text-align: left;
	color: #707070;
}

header #modal-menu .modal-fullscreen {
	width: 350px;
}

header #modal-menu.fade .modal-dialog {
	transform: translate(-100%, 0);
}

header #modal-menu.show .modal-dialog {
	transform: none;
}

header #modal-menu.show .modal-fullscreen .modal-header {
	border-bottom: unset;
}

header #modal-menu.show .modal-fullscreen .modal-header .btn-close {
	transform: translateX(80px);
	background: unset;
	color: white;
	opacity: 1;
}

header #modal-menu.show .modal-fullscreen .modal-header .btn-close i {
	font-size: 25px;
}

header #modal-menu.show .modal-fullscreen .modal-body::-webkit-scrollbar {
	width: 15px;
}

header #modal-menu.show .modal-fullscreen .modal-body::-webkit-scrollbar-track {
	box-shadow: inset 0 0 5px grey;
	border-radius: 10px;
}

header #modal-menu.show .modal-fullscreen .modal-body::-webkit-scrollbar-thumb {
	background: #BBBBBB;
	border-radius: 10px;
}

header #modal-menu.show .modal-fullscreen .modal-body .list-group .list-group-item {
	border: unset;
	text-decoration: none;
	font-family: "roboto";
	font-size: 16px;
	font-weight: 400;
	line-height: 16px;
	font-style: normal;
	text-align: left;
	color: #545454;
}

/*Nav*/
nav a {
	text-decoration: none;
}

nav .nav-menu ul {
	padding: 0px;
}

nav .nav-menu ul .nav-menu__item {
	display: inline-block;
	list-style-type: none;
	font-family: "roboto";
	font-size: 14px;
	font-weight: 400;
	line-height: 14px;
	font-style: normal;
	text-align: left;
	color: #414141;
	text-decoration: none;
}

nav .nav-menu ul .nav-menu__home {
	color: #ff2c79;
	font-weight: 500;
}

nav .nav-menu ul .nav-menu__item .icon-sen {
	right: 23px;
	top: 12px;
	transform: rotate(45deg);
}

nav .nav-menu ul .nav-menu__active span.px-3 {
	background: #ffe1e8;
	border-radius: 30px;
}

nav .nav-menu ul .nav-menu__item span.px-3:hover {
	background: #ffe1e8;
	border-radius: 30px;
}

nav .nav-menu .nav-menu__item {
	text-decoration: none;
}

nav .nav-menu .nav-menu__tour {
	border: 1px solid #C9C9C9;
	padding: 1px 15px;
	border-radius: 15px;
	font-family: "roboto";
	font-size: 12px;
	font-weight: 500;
	line-height: 12px;
	font-style: normal;
	text-align: left;
	color: #646464;
}

nav .nav-menu ul .nav-menu__diaphuong:hover .nav-menu__modal--diaphuong {
	display: flex;
}

nav .nav-menu ul .nav-menu__tintuc:hover .nav-menu__modal--tintuc {
	display: flex;
}

nav .nav-menu ul .nav-menu__item .nav-menu__modal {
	display: none;
	width: 1500px;
	background: white;
	left: -300px;
	top: 45px;
	z-index: 2;
	box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}


nav .nav-menu ul .nav-menu__item .nav-menu__modal--tintuc {
	left: -430px;
}

nav .nav-menu ul .nav-menu__item .nav-menu__modal .nav-tabs {
	width: 15%;
	border-right: 1px solid #ececec;
}

nav .nav-menu ul .nav-menu__item .nav-menu__modal .tab-content {
	width: 85%;
}

nav .nav-menu ul .nav-menu__item .nav-menu__modal .nav-tabs .nav-item .nav-link {
	border: unset;
	padding: 12px;
	width: 100%;
	text-align: right;
	font-family: "roboto";
	font-size: 14px;
	font-weight: 400;
	line-height: 22px;
	font-style: normal;
	color: #414141;
	transition: unset;
	border-radius: unset;
}

nav .nav-menu ul .nav-menu__item .nav-tabs .nav-item .nav-link.active {
	font-weight: bold;
	color: #ff2c79;
	border: 1px solid #ececec;
	border-right: unset;
	position: relative;
}

nav .nav-menu ul .nav-menu__item .nav-tabs .nav-item .nav-link.active:after {
	content: '';
	height: 100%;
	border: 3px solid white;
	position: absolute;
	top: 0;
	right: -1px;
}

nav .nav-menu ul .nav-menu__item .nav-tabs .nav-item__custom {
	padding: 12px;
	text-align: right;
}

nav .nav-menu ul .nav-menu__item .nav-tabs .nav-item__custom button {
	padding: 12px;
	text-align: right;
	border: unset;
	border-radius: 20px;
	filter: drop-shadow(0px 3px 3px rgba(0, 0, 0, 0.16));
	background: linear-gradient(180deg, #fd3379 0.00%, #ce469c 100.00%);
	padding: 12px 25px;
	font-family: "roboto";
	font-size: 18px;
	font-weight: 400;
	line-height: 18px;
	font-style: normal;
	text-align: left;
	color: #ffffff;
}

nav .nav-menu ul .nav-menu__item .tab-content .swiper .swiper-slide {
	overflow: hidden;
	height: 230px;
	border-radius: 5px;
}

nav .nav-menu ul .nav-menu__item .tab-content .swiper .swiper-button-next {
	left: 30px;
	top: unset;
	bottom: 0px;
}

nav .nav-menu ul .nav-menu__item .tab-content .swiper .swiper-button-prev {
	left: 2px;
	top: unset;
	bottom: 0px;
}

nav .nav-menu ul .nav-menu__item .tab-content .swiper .swiper-button-prev:after,
nav .nav-menu ul .nav-menu__item .nav-menu__modal .tab-content .swiper .swiper-button-next:after {
	font-size: 13px;
	padding: 4px 6px;
	border: 1px solid #BBBBBB;
	color: #BBBBBB;
}

nav .nav-menu ul .nav-menu__item .tab-content .swiper-diaphuong .swiper-slide .swiper-content {
	position: absolute;
	bottom: 0;
	z-index: 3;
	width: 100%;
	padding: 10px;
}

nav .nav-menu ul .nav-menu__item .tab-content .swiper-diaphuong .swiper-slide .swiper-content .swiper-content__background {
	background: rgba(255, 255, 255, 0.5);
	padding: 10px;
	border-radius: 6px;
}

nav .nav-menu ul .nav-menu__item .tab-content .swiper-diaphuong .swiper-slide .swiper-content .swiper-content__background .swiper-content__status,
main .near-by-home .swiper-nearby-home .swiper-nearby-home__content {
	font-family: "red hat display";
	font-size: 10px;
	font-weight: 400;
	line-height: 10px;
	font-style: normal;
	text-align: left;
	color: #3f3356;
}

nav .nav-menu ul .nav-menu__item .tab-content .swiper-diaphuong .swiper-slide .swiper-content .swiper-content__background .swiper-content__status .border-r-1,
main .near-by-home .swiper-nearby-home .swiper-nearby-home__content .swiper-content__status .border-r-1 {
	border-right: 1px solid #d1d1d1;
}

nav .nav-menu ul .nav-menu__item .tab-content .swiper-diaphuong .swiper-slide .swiper-content .swiper-content__background .swiper-content__status--distance i,
main .near-by-home .swiper-nearby-home .swiper-nearby-home__content .swiper-content__status--distance i {
	color: #88c3f6;
	font-size: 12px;
}

nav .nav-menu ul .nav-menu__item .tab-content .swiper-diaphuong .swiper-slide .swiper-content .swiper-content__background .swiper-content__status--star i,
main .near-by-home .swiper-nearby-home .swiper-nearby-home__content .swiper-content__status--star i {
	color: #ffc107;
	font-size: 12px;
}

nav .nav-menu ul .nav-menu__item .tab-content .swiper-diaphuong .swiper-slide .swiper-content .swiper-content__background .swiper-content__status--star,
main .near-by-home .swiper-nearby-home .swiper-nearby-home__content .swiper-content__status--star {
	font-weight: bold;
}

nav .nav-menu ul .nav-menu__item .tab-content .swiper-diaphuong .swiper-slide .swiper-content .swiper-content__background .swiper-content__status--open,
main .near-by-home .swiper-nearby-home .swiper-nearby-home__content .swiper-content__status--open {
	color: #10c923;
}

nav .nav-menu ul .nav-menu__item .tab-content .swiper-diaphuong .swiper-slide .swiper-content .swiper-content__background .swiper-content__title {
	font-family: "roboto";
	font-size: 14px;
	font-weight: 400;
	line-height: 14px;
	font-style: normal;
	text-align: left;
	color: #3f3356;
	border-bottom: 1px solid #999999;
}

nav .nav-menu ul .nav-menu__item .tab-content .swiper-diaphuong .swiper-slide .swiper-content .swiper-content__background .swiper-content__status--open-day {
	background: #ffffff;
	padding: 2px;
	color: #888484;
	border-radius: 3px;
}


nav .nav-menu ul .nav-menu__tintuc .nav-menu__modal--tintuc .tab-content .swiper-tintuc .swiper-slide .swiper-slide__img {
	height: 65%;
	border-radius: 5px;
	overflow: hidden;
}

nav .nav-menu ul .nav-menu__tintuc .nav-menu__modal--tintuc .tab-content .swiper-tintuc .swiper-slide .swiper-slide__img span {
	top: 0;
	left: 0;
	font-family: "roboto";
	font-size: 12px;
	font-weight: 400;
	line-height: 22px;
	font-style: normal;
	text-align: center;
	color: #ffffff;
	background: #ff2c79;
	padding: 0px 5px;
}

nav .nav-menu ul .nav-menu__tintuc .nav-menu__modal--tintuc .tab-content .swiper-tintuc .swiper-slide .swiper-content .swiper-content__title {
	font-family: "roboto";
	font-size: 14px;
	font-weight: bold;
	line-height: 22px;
	font-style: normal;
	text-align: center;
	color: #414141;
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
	margin-bottom: 0;
}

nav .nav-menu ul .nav-menu__tintuc .nav-menu__modal--tintuc .tab-content .swiper-tintuc .swiper-slide .swiper-content .swiper-content__date {
	font-family: "roboto";
	font-size: 14px;
	font-weight: 400;
	line-height: 22px;
	font-style: normal;
	text-align: center;
	color: #747474;
	margin-bottom: 0;
}

nav .nav-menu ul .nav-menu__tintuc .nav-menu__modal--tintuc .tab-content .swiper-tintuc .swiper-slide .swiper-slide__img i {
	font-size: 16px;
	top: 39%;
	left: 44%;
	color: white;
	border-radius: 50%;
	padding: 6px 8px;
	background: rgba(0, 0, 0, 0.57);

}

/*Main*/

main .banner-home .banner-home__swiper .swiper-button-next:after,
main .banner-home .banner-home__swiper .swiper-button-prev:after {
	font-size: 16px;
	color: red;
	padding: 10px 14px;
	background: white;
	border-radius: 50%;
	font-weight: bold;
}

main .banner-home .banner-home__swiper .swiper-button-next {
	right: 30px;
}

main .banner-home .banner-home__swiper .swiper-button-prev {
	left: 30px;
}

main .banner-home .banner-home__swiper .swiper-pagination-bullet {
	background: unset;
	border: 1px solid white;
}

main .banner-home .banner-home__swiper .swiper-pagination-bullet-active {
	background: white;
}

main .banner-home .banner-home__swiper .swiper-pagination {
	z-index: 2;
}

main .banner-home .banner-home__swiper .banner-home__search {
	position: absolute;
	z-index: 2;
	top: 30%;
	width: 100%;
	text-align: center;
}

main .banner-home .banner-home__swiper .banner-home__search h2 {
	font-family: "utm aptima";
	font-size: 90px;
	font-weight: bold;
	line-height: 90px;
	font-style: normal;
	color: #ffffff;
}

main .banner-home .banner-home__swiper .banner-home__search h2 img {
	position: absolute;
	top: -9px;
	right: -48px;
	transform: rotate(45deg);
}

main .banner-home .banner-home__swiper .banner-home__search p {
	font-family: "utm aptima";
	font-size: 24px;
	font-weight: 400;
	line-height: 24px;
	font-style: normal;
	color: #ffffff;
}

main .banner-home .banner-home__swiper .banner-home__search .div-hover-modal {
	width: 30%;
	margin: auto;
}

main .banner-home .banner-home__swiper .banner-home__search .banner-home__search--input {
	width: 100%;
	background: white;
	padding: 1px 0px;
	border-radius: 25px;
	justify-content: space-between;
	display: flex;
	border: 1px solid white;
}

main .banner-home .banner-home__swiper .banner-home__search .banner-home__search--input input {
	width: 70%;
	border: unset;
	background: white;
	margin-left: 10px;
	border-radius: 18px;
}

main .banner-home .banner-home__swiper .banner-home__search .banner-home__search--input input:focus-visible {
	outline: unset;
}

main .banner-home .banner-home__swiper .banner-home__search .banner-home__search--input:focus-within {
	border: 1px solid #FF2C79;
}

main .banner-home .banner-home__swiper .banner-home__search .banner-home__search--input .btn-tim-kiem {
	background: linear-gradient(180deg, #fd3379 0.00%, #ce469c 100.00%);
	border: unset;
	padding: 10px;
	font-family: "roboto";
	font-size: 18px;
	font-weight: 400;
	line-height: 18px;
	font-style: normal;
	color: #ffffff;
	width: 25%;
	border-radius: 25px;
}

main .banner-home .banner-home__search--modal {
	position: absolute;
	width: 30%;
	top: 72.5%;
	padding: 15px;
	background: white;
	border-radius: 5px;
	display: none;
	border: 1px solid #dedede;
	z-index: 2;
	height: 589px;
	left: 35%;
}

/*main .banner-home 
.banner-home__swiper
.banner-home__search
.banner-home__search--input:hover <  main .banner-home .banner-home__search--modal{
  display: none;
}*/

main .banner-home .banner-home__search--modal .home-search__history h5,
main .banner-home .banner-home__search--modal .home-search__voucher h5,
main .banner-home .banner-home__search--modal .home-search__trend h5 {
	justify-content: space-between;
	display: flex;
}

main .banner-home .banner-home__search--modal .home-search__history h5 span,
main .banner-home .banner-home__search--modal .home-search__voucher h5 span,
main .banner-home .banner-home__search--modal .home-search__trend h5 span {
	font-family: "roboto";
	font-size: 16px;
	font-weight: 400;
	line-height: 16px;
	font-style: normal;
	color: #878787;
}

main .banner-home .banner-home__search--modal .home-search__history h5 a,
main .banner-home .banner-home__search--modal .home-search__voucher h5 a,
main .banner-home .banner-home__search--modal .home-search__trend h5 a {
	font-family: "roboto";
	font-size: 14px;
	font-weight: 400;
	line-height: 14px;
	font-style: normal;
	color: #ff2c79;
	text-decoration: none;
}

main .banner-home .banner-home__search--modal .home-search__history .home-search__history--list {
	text-align: left;
	flex-wrap: wrap;
	display: flex;
}

main .banner-home .banner-home__search--modal .home-search__history .home-search__history--list a {
	text-decoration: none;
	font-family: "roboto";
	font-size: 14px;
	font-weight: 400;
	line-height: 14px;
	font-style: normal;
	text-align: left;
	color: #000000;
	padding: 10px;
	border: 1px solid #bebebe;
	border-radius: 3px;
	margin: 5px;
}

main .banner-home .banner-home__search--modal .home-search__history .home-search__history--list a:hover {
	color: white;
	border-color: white;
	background: linear-gradient(180deg, #fd3379 0.00%, #ce469c 100.00%);
}

main .banner-home .banner-home__search--modal .home-search__voucher .home-search__voucher--list,
main .banner-home .banner-home__search--modal .home-search__trend .home-search__trend--list {
	text-align: left;
}

main .banner-home .banner-home__search--modal .home-search__voucher .home-search__voucher--list a,
main .banner-home .banner-home__search--modal .home-search__trend .home-search__trend--list a {
	display: flex;
	text-decoration: none;
}

main .banner-home .banner-home__search--modal .home-search__voucher .home-search__voucher--list a p,
main .banner-home .banner-home__search--modal .home-search__trend .home-search__trend--list a p {
	font-family: "roboto";
	font-size: 14px;
	font-weight: 400;
	line-height: 18px;
	font-style: normal;
	text-align: left;
	color: #000000;
	white-space: nowrap;
	overflow: hidden;
	width: 260px;
	text-overflow: ellipsis;
	margin: unset;
}

main .banner-home .banner-home__search--modal .home-search__voucher .home-search__voucher--list a span,
main .banner-home .banner-home__search--modal .home-search__trend .home-search__trend--list a span {
	font-family: "roboto";
	font-size: 12px;
	font-weight: 400;
	line-height: 12px;
	font-style: normal;
	text-align: left;
	color: #a7a5a5;
}

main .banner-home .banner-home__search--modal .home-search__trend .home-search__trend--list a .border-r-1 {
	border-right: 1px solid #a7a5a5;
}

/*discover-sentrip*/

main .discover-sentrip h3 {
	font-family: "iciel baliho script";
	font-size: 30px;
	font-weight: 400;
	line-height: 34px;
	font-style: normal;
	text-align: left;
	color: #000000;
	display: flex;
	justify-content: space-between;
	border-left: 3px solid #FF2C79;
	padding-left: 10px;
	align-items: center;
}

main .discover-sentrip h3 a {
	text-decoration: none;
	font-family: "roboto";
	font-size: 14px;
	font-weight: 500;
	line-height: 22px;
	font-style: normal;
	text-align: left;
	color: #ff2c79;
}

main .discover-sentrip .swiper-discover-sentrip {
	height: 300px;
	border-radius: 10px;
	overflow: hidden;
}

main .discover-sentrip .swiper-discover-sentrip .swiper-wrapper .swiper-slide {
	position: relative;
}

main .discover-sentrip .swiper-discover-sentrip .swiper-pagination .swiper-pagination-bullet {
	opacity: 0.35;
	background: #ffffff
}

main .discover-sentrip .swiper-discover-sentrip .swiper-pagination .swiper-pagination-bullet-active {
	opacity: 1;
}

main .discover-sentrip .swiper-discover-sentrip .swiper-wrapper .swiper-slide .item-big__content--region {
	position: absolute;
	top: 10px;
	left: 10px;
	font-family: "red hat display";
	font-size: 12px;
	font-weight: bold;
	line-height: 12px;
	font-style: normal;
	color: #ffffff;
	padding: 5px 10px;
	border-radius: 3px;
	background: rgba(0, 0, 0, 0.5);
}

main .discover-sentrip .swiper-discover-sentrip .swiper-wrapper .swiper-slide .item-big__content {
	position: absolute;
	bottom: 0;
	width: 100%;
	padding: 15px;
	background: linear-gradient(180deg,
			rgba(217, 217, 217, 0.03) 0.00%,
			rgba(0, 0, 0, 0.72) 100.00%);
}

main .discover-sentrip .swiper-discover-sentrip .swiper-wrapper .swiper-slide .item-big__content p {
	font-family: "red hat display";
	font-size: 11px;
	font-weight: 500;
	line-height: 11px;
	font-style: normal;
	color: #ffffff;
}

main .discover-sentrip .swiper-discover-sentrip .swiper-wrapper .swiper-slide .item-big__content p span {
	font-size: 12px;
	font-weight: bold;
	line-height: 12px;
	border-radius: 4px;
	background: #ff2c79;
	padding: 3px 8px;
}

main .discover-sentrip .swiper-discover-sentrip .swiper-wrapper .swiper-slide .item-big__content h5 {
	font-family: "roboto";
	font-size: 20px;
	font-weight: bold;
	line-height: 24px;
	font-style: normal;
	text-align: left;
	color: #ffffff;
}

main .discover-sentrip .discover-sentrip__item--small img {
	border-radius: 12px;
}

main .discover-sentrip .discover-sentrip__item--small p {
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 3;
	-webkit-box-orient: vertical;
	font-family: "roboto";
	font-size: 14px;
	font-weight: 500;
	line-height: 18px;
	font-style: normal;
	text-align: left;
	color: #363636;
	margin-bottom: 3px;
}

main .discover-sentrip .discover-sentrip__item--small span {
	font-family: "red hat display";
	font-size: 11px;
	font-weight: 500;
	line-height: 11px;
	font-style: normal;
	color: #9a9a9a;
}

main .discover-sentrip .discover-sentrip__local {
	border-radius: 10px;
	background: #f6fcff;
	padding: 15px 15px 25px 15px;
}

main .discover-sentrip .discover-sentrip__local .nav-tabs {
	border: unset;
	justify-content: space-between;
}

main .discover-sentrip .discover-sentrip__local .nav-tabs .nav-link {
	border: unset;
	font-family: "roboto";
	font-size: 14px;
	font-weight: 400;
	line-height: 34px;
	font-style: normal;
	color: #5b5b5b;
}

main .discover-sentrip .discover-sentrip__local .nav-tabs .nav-link.active {
	font-weight: bold;
	color: #ff2c79;
	background: unset;
}

main .discover-sentrip .discover-sentrip__local .tab-content .sentrip-local__item img {
	border-radius: 12px;
}


main .discover-sentrip .discover-sentrip__local .tab-content .sentrip-local__item h5 {
	font-family: "roboto";
	font-size: 14px;
	font-weight: bold;
	line-height: 19px;
	font-style: normal;
	text-align: left;
	color: #000000;
}

main .discover-sentrip .discover-sentrip__local .tab-content .sentrip-local__item p {
	font-family: "red hat display";
	font-size: 11px;
	font-weight: 500;
	line-height: 11px;
	font-style: normal;
	color: #515151;
}

main .discover-sentrip .discover-sentrip__local .tab-content .sentrip-local__item a {
	background: #f2f2f2;
	border: 1px solid #dddddd;
	padding: 7px 15px;
	font-family: "roboto";
	font-size: 14px;
	font-weight: 500;
	line-height: 14px;
	font-style: n ormal;
	text-align: left;
	color: #ff2c79;
	text-decoration: none;
	border-radius: 25px;
}

main .discover-sentrip .discover-sentrip__local .tab-content .sentrip-local__diff ul li {
	background: unset;
	padding: 10px 0px;
}

main .discover-sentrip .discover-sentrip__local .tab-content .sentrip-local__diff ul li:first-child {
	padding-top: 0px;
}

main .discover-sentrip .discover-sentrip__local .tab-content .sentrip-local__diff ul li a {
	display: flex;
	font-family: "roboto";
	font-size: 14px;
	font-weight: 500;
	line-height: 24px;
	font-style: normal;
	text-align: left;
	color: #0e4aa1;
	text-decoration: none;
}

main .discover-sentrip .discover-sentrip__trend h3,
main .featured-video .featured-video__title h3 {
	position: relative;
	border: unset;
}

main .discover-sentrip .discover-sentrip__trend h3:after,
main .featured-video .featured-video__title h3:after {
	position: absolute;
	content: url('img/img-trend.png');
	bottom: -15px;
}

main .discover-sentrip .discover-sentrip__trend .discover-sentrip__trend--items span {
	font-family: "roboto";
	font-size: 26px;
	font-weight: bold;
	line-height: 24px;
	font-style: normal;
	text-align: left;
	color: #ff2c79;
}

main .discover-sentrip .discover-sentrip__trend .discover-sentrip__trend--items .sentrip-trend__item--title {
	font-family: "roboto";
	font-size: 15px;
	font-weight: 500;
	line-height: 24px;
	font-style: normal;
	text-align: left;
	color: #4e4e4e;
}

main .discover-sentrip .swiper-membership-registration {
	background: linear-gradient(124deg,
			#fd3379 0.00%,
			#ce469c 100.00%);
	border-radius: 10px;
}

main .discover-sentrip .swiper-membership-registration .swiper-slide {
	padding: 15px;
}

main .discover-sentrip .swiper-membership-registration .swiper-slide img {
	border-radius: 12px;
}

main .discover-sentrip .swiper-membership-registration .swiper-slide .swiper-membership-registration__content {
	font-family: "roboto";
	font-size: 14px;
	font-weight: 400;
	line-height: 24px;
	font-style: normal;
	text-align: left;
	color: #ffffff;
}

main .discover-sentrip .swiper-membership-registration .swiper-slide .swiper-membership-registration__content button {
	width: 121px;
	border-radius: 20px;
	background: #ffffff;
	font-family: "roboto";
	font-size: 11px;
	font-weight: bold;
	line-height: 11px;
	font-style: normal;
	color: #ff2c79;
	border: unset;
	padding: 10px;
}

main .discover-sentrip .swiper-membership-registration .swiper-pagination-bullet {
	width: 12px;
	height: 12px;
	background: #dcdcdc
}

main .discover-sentrip .swiper-membership-registration .swiper-pagination-bullet-active {
	width: 19px;
	background: #fcfcfc;
	border-radius: 30px;
}

main .your-prize .your-prize__lable h2 {
	font-family: "iciel baliho script";
	font-size: 50px;
	font-weight: 400;
	line-height: 55px;
	font-style: normal;
	text-align: left;
	color: #1e1e1e;
}

main .your-prize .your-prize__lable p {
	font-family: "red hat display";
	font-size: 20px;
	font-weight: 400;
	line-height: 20px;
	font-style: normal;
	text-align: left;
	color: #747474;
}

main .your-prize .your-prize__nav .nav-pills {
	justify-content: end;
}

main .your-prize .your-prize__nav .nav-pills .nav-item .nav-link {
	border-radius: 20px;
	background: #ffe1e8;
	font-family: "roboto";
	font-size: 16px;
	font-weight: 500;
	line-height: 16px;
	font-style: normal;
	text-align: left;
	color: #ff2c79;
}

main .your-prize .your-prize__nav .nav-pills .nav-item .active {
	color: #ffffff;
	background: linear-gradient(139deg,
			#fd3379 0.00%,
			#ce469c 100.00%);
}

main .your-prize .tab-content .your-prize__items {
	background: #fef1e6;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

main .your-prize .tab-content .your-prize__items .your-prize__item {
	padding: 10px;
}

main .your-prize .tab-content .your-prize__items .your-prize__item:hover {
	border-radius: 4px;
	filter: drop-shadow(0px 3px 3px rgba(0, 0, 0, 0.16));
	background: #ffffff
}

main .your-prize .tab-content .your-prize__items .your-prize__item h5 {
	font-family: "roboto";
	font-size: 13px;
	font-weight: 400;
	line-height: 20px;
	font-style: normal;
	text-align: left;
	color: #393939;
}

main .your-prize .tab-content .your-prize__items .your-prize__item .w3-round-xlarge {
	background: rgba(139, 139, 139, 0.4)
}

main .your-prize .tab-content .your-prize__items .your-prize__item .w3-round-xlarge span {
	position: absolute;
	font-family: "roboto";
	font-size: 9px;
	font-weight: 500;
	line-height: 10px;
	font-style: normal;
	text-align: left;
	color: #ffffff;
	top: 6px;
	left: 35px;
}

main .your-prize .tab-content .your-prize__items .your-prize__item .w3-round-xlarge img {
	position: absolute;
	top: -10px;
	left: 0;
}

main .your-prize .tab-content .your-prize__items .your-prize__item .your-prize__item--hsd {
	font-family: "roboto";
	font-size: 12px;
	font-weight: 500;
	line-height: 11px;
	font-style: normal;
	text-align: left;
	color: #727272;
}

main .your-prize .tab-content .your-prize__items .your-prize__item .your-prize__item--group {
	font-family: "roboto";
	font-size: 12px;
	font-weight: 400;
	line-height: 13px;
	font-style: normal;
	text-align: left;
	color: #484848;
}

main .your-prize .tab-content .your-prize__items .your-prize__item .your-prize__item--group i {
	color: #f74c42;
}

main .your-prize .tab-content .your-prize__items .your-prize__item .your-prize__item--check {
	font-family: "roboto";
	font-size: 11px;
	font-weight: 400;
	line-height: 10px;
	font-style: normal;
	text-align: left;
	color: #007cf8;
}

main .your-prize .tab-content .your-prize__items .your-prize__item a {
	text-decoration: none;
}

main .your-prize .your-prize__more {
	text-decoration: none;
	background: #fef1e6;
	border-radius: 25px;
	border: 1px solid #ff2c79;
	padding: 10px 45px;
	font-family: "roboto";
	font-size: 16px;
	font-weight: 400;
	line-height: 16px;
	font-style: normal;
	text-align: left;
	color: #ff2c79;
}

/*E-Magazine*/

main .e-magazine .e-magazine__title {
	width: 490px;
	background-image: url('img/bg-e-magazine.png');
	margin: auto;
	height: 150px;
	background-repeat: no-repeat;
	background-position: center;
	display: flex;
	align-items: center;
	justify-content: center;
}

main .e-magazine .e-magazine__title h2 {
	font-family: "iciel baliho script";
	font-size: 40px;
	font-weight: 400;
	line-height: 30px;
	font-style: normal;
	text-align: left;
	color: #202020;
}

main .e-magazine .e-magazine__items img {
	border-radius: 12px;
}

main .e-magazine .e-magazine__items .e-magazine__items--region,
main .featured-video .swiper-featured-video .swiper-featured-video__items--region {
	font-family: "red hat display";
	font-size: 12px;
	font-weight: 500;
	line-height: 12px;
	font-style: normal;
	color: #ffffff;
	position: absolute;
	top: 15px;
	left: 25px;
	background: rgba(0, 0, 0, 0.6);
	border-radius: 16px;
	padding: 5px 10px;
}

main .e-magazine .e-magazine__items .e-magazine__items--content .e-magazine__item--type,
main .e-magazine .e-magazine__items .e-magazine__items--custom .e-magazine__custom--content .e-magazine__item--type {
	font-family: "roboto";
	font-size: 20px;
	font-weight: 500;
	line-height: 30px;
	font-style: normal;
	text-align: left;
	color: #000000;
	width: 130px;
	background-image: url('img/bg-item-type.png');
	height: 39px;
	background-repeat: no-repeat;
	background-position: center;
	display: flex;
	align-items: center;
	justify-content: center;
}

main .e-magazine .e-magazine__items .e-magazine__items--content .e-magazine__item--title {
	font-family: "roboto";
	font-size: 18px;
	font-weight: 500;
	line-height: 26px;
	font-style: normal;
	color: #040404;
}

main .e-magazine .e-magazine__items .e-magazine__items--content p,
main .e-magazine .e-magazine__items .e-magazine__items--content span {
	font-family: "roboto";
	font-size: 16px;
	font-weight: 400;
	line-height: 24px;
	font-style: normal;
	color: #919191;
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 3;
	-webkit-box-orient: vertical;
}

main .e-magazine .e-magazine__items .e-magazine__items--content span {
	margin-top: 80px;
}

main .e-magazine .e-magazine__items .e-magazine__items--custom .e-magazine__custom--content {
	position: absolute;
	bottom: 15px;
	padding-right: 12px;
}

main .e-magazine .e-magazine__items .e-magazine__items--custom .e-magazine__custom--content .e-magazine__custom--bg {
	background: linear-gradient(180deg,
			rgba(255, 255, 255, 0) 0.00%,
			rgba(0, 0, 0, 0.55) 100.00%);
	padding: 15px 15px 1px 15px;
}

main .e-magazine .e-magazine__items .e-magazine__items--custom .e-magazine__custom--content p {
	font-family: "roboto";
	font-size: 20px;
	font-weight: 500;
	line-height: 30px;
	font-style: normal;
	text-align: left;
	color: #ffffff;
}

main .e-magazine .e-magazine__items .e-magazine__items--list ul {
	list-style: none;
	padding-top: 10px;
	padding-left: unset;
	margin-top: 20px;
	border-top: 3px solid #EFEFEF;
}

main .e-magazine .e-magazine__items .e-magazine__items--list ul li span {
	font-family: "roboto";
	font-size: 22px;
	font-weight: 500;
	line-height: 24px;
	font-style: normal;
	text-align: left;
	color: #ff2c79;
}

main .e-magazine .e-magazine__items .e-magazine__items--list ul li div {
	font-family: "roboto";
	font-size: 15px;
	font-weight: 400;
	line-height: 24px;
	font-style: normal;
	text-align: left;
	color: #4e4e4e;
}

main .e-magazine .e-magazine__items .e-magazine__items--list ul li:hover {
	background: #f2f2f2;
	border-radius: 5px;
}

/*featured-video*/

main .featured-video .featured-video__title {
	justify-content: space-between;
	align-items: center;
	padding-bottom: 7px;
	border-bottom: 1px solid #FF2C79;
}

main .featured-video .featured-video__title h3:after {
	left: 0;
}

main .featured-video .featured-video__title a,
main .featured-video .featured-video__title--liveTV a {
	font-family: "roboto";
	font-size: 14px;
	font-weight: 500;
	line-height: 22px;
	font-style: normal;
	text-align: left;
	color: #ff2c79;
}


main .featured-video .swiper-featured-video .swiper-featured-video__items--region {
	left: 15px;
}

main .featured-video .swiper-featured-video {
	padding-bottom: 100px;
}

main .featured-video .swiper-featured-video .swiper-slide img {
	border-radius: 10px;
}

main .featured-video .swiper-featured-video .swiper-slide .fa-play {
	font-size: 16px;
	top: 20px;
	right: 15px;
	color: white;
	border-radius: 50%;
	padding: 6px 8px;
	border: 1px solid white;
	background: rgba(0, 0, 0, 0.57);
}

main .featured-video .swiper-featured-video .swiper-slide .swiper-featured-video__item {
	bottom: -49px;
}

main .featured-video .swiper-featured-video .swiper-slide .swiper-featured-video__item--content {
	padding: 10px;
	filter: drop-shadow(0px 0px 3px rgba(0, 0, 0, 0.3));
	background: rgba(255, 255, 255, 0.9);
	border-radius: 5px;
}

main .featured-video .swiper-featured-video .swiper-slide .swiper-featured-video__item--content span {
	font-family: "red hat display";
	font-size: 11px;
	font-weight: 500;
	line-height: 11px;
	font-style: normal;
	text-align: left;
	color: #666666;
}

main .featured-video .swiper-featured-video .swiper-slide .swiper-featured-video__item--content p {
	font-family: "roboto";
	font-size: 13px;
	font-weight: 400;
	line-height: 18px;
	font-style: normal;
	text-align: left;
	color: #3f3356;
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
}

main .featured-video .swiper-featured-video .swiper-button-prev:after,
main .featured-video .swiper-featured-video .swiper-button-next:after,
main .favorite-destination .swiper-favorite-destination .swiper-button-prev:after,
main .favorite-destination .swiper-favorite-destination .swiper-button-next:after,
main .near-by-home .swiper-nearby-home .swiper-button-prev:after,
main .near-by-home .swiper-nearby-home .swiper-button-next:after {
	font-size: 16px;
	color: red;
	padding: 10px 14px;
	background: white;
	border-radius: 50%;
	font-weight: bold;
	filter: drop-shadow(0px 0px 3px rgba(0, 0, 0, 0.16));
}

main .featured-video .swiper-featured-video .swiper-button-prev,
main .featured-video .swiper-featured-video .swiper-button-next {
	z-index: 15;
	bottom: var(--swiper-pagination-bottom, 0px);
	top: var(--swiper-pagination-top, auto);
}

main .featured-video .swiper-featured-video .swiper-button-prev {

	left: var(--swiper-navigation-sides-offset, 35%);
}

main .featured-video .swiper-featured-video .swiper-button-next {
	right: var(--swiper-navigation-sides-offset, 35%);
}

main .featured-video .swiper-featured-video .swiper-pagination .swiper-pagination-bullet {
	width: 12px;
	height: 12px;
}

main .featured-video .swiper-featured-video .swiper-pagination .swiper-pagination-bullet-active {
	width: 19px;
	border-radius: 30px;
	background: #ff2c79;
}

main .featured-video .featured-video__title--liveTV {
	justify-content: space-between;
	position: relative;
}

main .featured-video .featured-video__title--liveTV span {
	position: absolute;
	bottom: -18px;
	left: 51px;
	font-family: "iciel baliho script";
	font-size: 24px;
	font-weight: 400;
	line-height: 55px;
	font-style: normal;
	text-align: left;
	color: #000000;
}

main .featured-video .featured__liveTV .featured__liveTV--schedule {
	font-family: "roboto";
	font-size: 16px;
	font-weight: bold;
	line-height: 55px;
	font-style: normal;
	text-align: left;
	color: #000000;
}

main .featured-video .featured__liveTV .swiper-liveTV-schedule {
	height: 30px;
	border-radius: 4px;
	background: #e9e9e9
}

main .featured-video .featured__liveTV .swiper-liveTV-schedule .swiper-slide {
	font-family: "roboto";
	font-size: 16px;
	font-weight: 500;
	line-height: 16px;
	font-style: normal;
	color: #333333;
	align-items: center;
	display: flex;
	justify-content: center;
}

main .featured-video .featured__liveTV .swiper-liveTV-schedule .swiper-button-prev:after,
main .featured-video .featured__liveTV .swiper-liveTV-schedule .swiper-button-next:after {
	font-size: 12px;
	color: white;
	padding: 4px 7px;
	background: #919191;
	border-radius: 50%;
	font-weight: bold;
}

main .featured-video .featured__liveTV .featured__liveTV--title {
	height: 42px;
	border-radius: 21px;
	background: #fd3379;
	background: linear-gradient(155deg,
			#fd3379 0.00%,
			#ce469c 100.00%);
	overflow: hidden;
}

main .featured-video .featured__liveTV .featured__liveTV--title .featured__liveTV--live {
	background: #ff4f6b;
	width: 95px;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 25px;
	border-left: 7px solid red;
	border-right: 7px solid red;
	font-size: 16px;
	color: white;
}

main .featured-video .featured__liveTV .featured__liveTV--title .featured__liveTV--live .fa-play {
	padding: 4px 6px;
	color: red;
	background: white;
	border-radius: 50%;
	font-size: 12px;
	margin-right: 5px;
}

main .featured-video .featured__liveTV .featured__liveTV--title .featured__liveTV--content {
	font-family: "roboto";
	font-size: 16px;
	font-weight: 500;
	line-height: 21px;
	font-style: normal;
	text-align: left;
	color: #ffffff;
	display: flex;
	align-items: center;
}

/*Favorite destination*/

main .favorite-destination .favorite-destination__left h3 {
	font-family: "iciel baliho script";
	font-size: 50px;
	font-weight: 400;
	line-height: 55px;
	font-style: normal;
	text-align: left;
	color: #333333;
}

main .favorite-destination .favorite-destination__left p {
	font-family: "roboto";
	font-size: 18px;
	font-weight: 300;
	line-height: 18px;
	font-style: normal;
	text-align: left;
	color: #333333;
}

main .favorite-destination .favorite-destination__left a {
	border-radius: 20px;
	filter: drop-shadow(0px 3px 3px rgba(0, 0, 0, 0.16));
	background: linear-gradient(180deg,
			#fd3379 0.00%,
			#ce469c 100.00%);
	font-family: "roboto";
	font-size: 18px;
	font-weight: 400;
	line-height: 18px;
	font-style: normal;
	text-align: left;
	color: #ffffff;
	padding: 5px 10px;
}

main .favorite-destination .swiper-favorite-destination .swiper-wrapper .swiper-slide,
main .favorite-destination .swiper-favorite-destination,
main .near-by-home .swiper-nearby-home {
	padding: 15px;
}

main .favorite-destination .swiper-favorite-destination .swiper-favorite-destination__content {
	position: absolute;
	bottom: 0;
	width: 100%;
	background: linear-gradient(179deg, rgba(255, 255, 255, 0) 0.00%, #000000 100.00%);
	border-radius: 10px;
	text-align: center;
	padding: 15px;
}

main .favorite-destination .swiper-favorite-destination .swiper-favorite-destination__content h4 {
	font-family: "roboto";
	font-size: 25px;
	font-weight: bold;
	line-height: 25px;
	font-style: normal;
	color: #ffffff;
}

main .favorite-destination .swiper-favorite-destination .swiper-favorite-destination__content p {
	font-family: "roboto";
	font-size: 14px;
	font-weight: 300;
	line-height: 14px;
	font-style: normal;
	color: #ffffff;
}

main .favorite-destination .swiper-favorite-destination .swiper-favorite-destination__content span {
	border-radius: 2px;
	background: #ff2c79;
	font-family: "roboto";
	font-size: 12px;
	font-weight: 400;
	line-height: 12px;
	font-style: normal;
	color: #ffffff;
	padding: 4px 8px;
}

main .favorite-destination .swiper-favorite-destination .swiper-slide {
	border-radius: 10px;
}

/*near-by-home*/
main .near-by-home {
	background: #f6f6f6
}

main .near-by-home .near-by-home__title {
	justify-content: space-between;
	align-items: center;
	border-bottom: 1px solid #8D8D8D;
}

main .near-by-home .near-by-home__title h3 {
	font-family: "iciel baliho script";
	font-size: 30px;
	font-weight: 400;
	line-height: 30px;
	font-style: normal;
	color: #1e1e1e;
}

main .near-by-home .near-by-home__title a,
main .near-by-home__top a {
	font-family: "roboto";
	font-size: 14px;
	font-weight: 500;
	line-height: 22px;
	font-style: normal;
	color: #ff2c79;
}

main .near-by-home .nav-pills .nav-item {
	margin-left: 15px;
	overflow: hidden;
}

main .near-by-home .nav-pills .nav-item .nav-link {
	font-family: "roboto";
	font-size: 16px;
	font-weight: 400;
	line-height: 28px;
	font-style: normal;
	color: #1e1e1e;
	border-color: #707070;
	border-width: 1px;
	border-style: solid;
	background: #ffffff;
	border-radius: 23px;
}

main .near-by-home .nav-pills .nav-item .active {
	background: rgba(255, 44, 121, 0.11);
	border-color: #ff2c79;
	color: #ff2c79;
}

main .near-by-home .swiper-nearby-home .swiper-wrapper .swiper-slide {
	border-radius: 10px;
	overflow: hidden;
	background: #ffffff;
	filter: drop-shadow(0px 0px 3px rgba(0, 0, 0, 0.16));
}

main .near-by-home .swiper-nearby-home .swiper-wrapper .swiper-slide .swiper-nearby-home__region {
	position: absolute;
	top: 25px;
	left: 25px;
	font-family: "red hat display";
	font-size: 12px;
	font-weight: bold;
	line-height: 12px;
	font-style: normal;
	color: #ffffff;
	padding: 5px 10px;
	border-radius: 3px;
	background: rgba(0, 0, 0, 0.5);
}

main .near-by-home .swiper-nearby-home .swiper-wrapper .swiper-slide .fa-heart {
	position: absolute;
	top: 25px;
	right: 35px;
	color: white;
	cursor: pointer;
	z-index: 10;
}

main .near-by-home .fa-heart-active {
	color: red !important;
}

main .near-by-home .swiper-nearby-home .swiper-nearby-home__content {
	padding: 15px;
}

main .near-by-home .swiper-nearby-home .swiper-nearby-home__content h4 {
	font-family: "roboto";
	font-size: 16px;
	font-weight: 500;
	line-height: 16px;
	font-style: normal;
	color: #333333;
}

main .near-by-home .swiper-nearby-home .swiper-nearby-home__content p {
	font-family: "roboto";
	font-size: 12px;
	font-weight: 400;
	line-height: 18px;
	font-style: normal;
	text-align: left;
	color: #1e1e1e;
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 1;
	-webkit-box-orient: vertical;
}

main .near-by-home .swiper-nearby-home .swiper-nearby-home__content p i {
	color: #ef940b;
}

main .near-by-home .near-by-home__top {
	border-color: #dddddd;
	border-width: 0.5px;
	border-style: solid;
	border-radius: 5px;
	filter: drop-shadow(0px 3px 3px rgba(0, 0, 0, 0.16));
	background: #ffffff;
	height: 100%;
	padding: 0px 15px;
}

main .near-by-home .near-by-home__top h3 {
	font-family: "iciel baliho script";
	font-size: 25px;
	font-weight: 400;
	line-height: 25px;
	font-style: normal;
	color: #1e1e1e;
	border-bottom: 1px solid #777777;
	padding-bottom: 10px;
}

main .near-by-home .near-by-home__top .list-group-flush .list-group-item a {
	display: flex;
}

main .near-by-home .near-by-home__top .list-group-flush .list-group-item {
	position: relative;
	padding: 15px 5px;
}

main .near-by-home .near-by-home__top .list-group-flush .list-group-item .near-by-home__top--img {
	position: relative;
	width: 0px;
	transition: all 0.4s ease-out;
	overflow: hidden;
}

main .near-by-home .near-by-home__top .list-group-flush .list-group-item .near-by-home__top--img img {
	border-radius: 10px;
}

main .near-by-home .near-by-home__top .list-group-flush .list-group-item:hover .near-by-home__top--img {
	width: 200px;
	margin-right: 10px;
}


main .near-by-home .near-by-home__top .list-group-flush .list-group-item .near-by-home__top--img .near-by-home__top--region {
	border-radius: 4px;
	background: rgba(0, 0, 0, 0.5);
	color: #ffffff;
	padding: 5px 10px;
	font-family: "roboto";
	font-size: 12px;
	font-weight: bold;
	line-height: 12px;
	font-style: normal;
	position: absolute;
	top: 5px;
	left: 5px;
}

main .near-by-home .near-by-home__top .list-group-flush .list-group-item .near-by-home__top--img .near-by-home__top--region {
	border-radius: 4px;
	background: rgba(0, 0, 0, 0.5);
	color: #ffffff;
	padding: 5px 10px;
	font-family: "roboto";
	font-size: 12px;
	font-weight: bold;
	line-height: 12px;
	font-style: normal;
	position: absolute;
	top: 5px;
	left: 5px;
}

main .near-by-home .near-by-home__top .list-group-flush .list-group-item .near-by-home__top--content h5 {
	font-family: "roboto";
	font-size: 14px;
	font-weight: 500;
	line-height: 13px;
	font-style: normal;
	text-align: left;
	color: #373737;
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
}

main .near-by-home .near-by-home__top .list-group-flush .list-group-item .near-by-home__top--content span {
	font-family: "red hat display";
	font-size: 12px;
	font-weight: 400;
	line-height: 12px;
	font-style: normal;
	text-align: left;
	color: #777777;
}

main .near-by-home .near-by-home__top .list-group-flush .list-group-item .near-by-home__top--content span i {
	color: #0081ff;
	transition: all 0.4s ease-out;
}

main .near-by-home .near-by-home__top .list-group-flush .list-group-item .fa-heart {
	position: absolute;
	transition: opacity 0.4s ease-out;
	bottom: 15px;
	right: 32px;
	opacity: 0;
	color: rgba(0, 0, 0, 0.5);
	cursor: pointer;
	font-size: 20px;
}

main .near-by-home .near-by-home__top .list-group-flush .list-group-item:hover .fa-heart {
	opacity: 1;
}


/*home-partner*/

main .home-partner h3 {
	font-family: "iciel baliho script";
	font-size: 50px;
	font-weight: 400;
	line-height: 50px;
	font-style: normal;
	text-align: left;
	color: #1e1e1e;
}

main .home-partner p {
	font-family: "roboto";
	font-size: 18px;
	font-weight: 300;
	line-height: 18px;
	font-style: normal;
	text-align: left;
	color: #707070;
}

main .home-partner .home-partner__list {
	columns: 10px;
	row-gap: 20px;
	display: grid;
	justify-items: center;
	grid-template-columns: repeat(8, minmax(50px, 1fr));
}

main {
	background-image: url(img/bg-main.png);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

main .list-place-fixed {
	top: 48%;
	z-index: 2;
}

main .list-place-fixed ul {
	width: 60px;
	border-color: #d5d5d5;
	border-width: 1px;
	border-style: solid;
	border-radius: 0px 8px 8px 0px;
	filter: drop-shadow(6px 0px 17.5px rgba(0, 0, 0, 0.16));
	background: #ffffff;
	overflow: hidden;
}

main .list-place-fixed ul li {
	padding: 10px;
	transition: all 0.4s ease-out;
}

main .list-place-fixed ul li:hover {
	background: #FCB3CF;
	padding: 7px;
}

main .list-place-fixed ul li:hover p {
	font-weight: bold;
	color: white;
}

main .list-place-fixed ul li p {
	font-family: "lato";
	font-size: 11px;
	font-weight: 500;
	line-height: 11px;
	font-style: normal;
	text-align: center;
	color: #515151;
	margin-top: 5px;
	margin-bottom: 0px;
	transition: all 0.3s ease-out;
}

/*footer*/

footer {
	color: #ffffff;
	background-image: url(img/bg-footer.png);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

footer .footer-register {
	border-bottom: 1px solid #707070;
}

footer .footer-register p {
	font-family: "segoe ui";
	font-size: 20px;
	font-weight: bold;
	line-height: 29px;
	font-style: normal;
	text-align: left;
}

footer .footer-register span {
	font-family: "segoe ui";
	font-size: 14px;
	font-weight: 400;
	line-height: 29px;
	font-style: normal;
	text-align: left;
}

footer .footer-register .footer-register__form {
	background: white;
	padding: 2px;
	border-radius: 25px;
	justify-content: space-between;
}

footer .footer-register .footer-register__form input {
	width: 70%;
	margin-left: 10px;
	border: unset;
	border-radius: 25px;
}

footer .footer-register .footer-register__form input:focus-visible {
	outline: unset;
}

footer .footer-register .footer-register__form button {
	background: linear-gradient(180deg,
			#fd3379 0.00%,
			#ce469c 100.00%);
	border-radius: 25px;
	padding: 5px 15px;
	border: unset;
	font-family: "segoe ui";
	font-size: 19px;
	font-weight: 400;
	line-height: 26px;
	font-style: normal;
	color: white;
}


footer .footer-info p {
	font-family: "segoe ui";
	font-size: 14px;
	font-weight: 400;
	line-height: 14px;
	font-style: normal;
	text-align: left;

}

footer .footer-info h5 {
	font-family: "segoe ui";
	font-size: 20px;
	font-weight: bold;
	line-height: 29px;
	font-style: normal;
}

footer .footer-info ul li {
	font-family: "segoe ui";
	font-size: 14px;
	font-weight: 400;
	line-height: 29px;
	font-style: normal;
}