@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@font-face {
    font-family: 'iCiel Baliho Script';
    src: url(/font/BalihoScript.otf);
}

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
}

p {
    margin: 0;
    padding: 0;
}

button {
    border: none;
    outline: none;
    background: transparent;
    cursor: pointer;
    transition: all linear .2s;
}

button:hover {
    opacity: .7;
}

ul {
    margin: 0;
    padding: 0;
}

a {
    cursor: pointer;
}

a:hover {
    color: unset;
    /* opacity: .7; */
}

.main {
    background: unset;
}

.mt-16 {
    margin-top: 16px;
}

.flex {
    display: flex;
}

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.navigation {
    position: relative;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.1);
}

.footer-register__form button {
    flex-shrink: 0;
}

/* .breadcrumb {
    
} */

.main__breadcrumb {
    font-family: 'Segoe UI';
    color: #5a5a5a;
    margin-bottom: 0;
}

.breadcrumb-item.active {
    color: black;
    font-weight: 500;
}

.breadcrumb a {
    color: #5a5a5a;
}

.swiper-button-primary-prev:after,
.swiper-button-primary-next:after {
    font-size: 16px;
    color: red;
    padding: 10px 14px;
    background: white;
    border-radius: 50%;
    font-weight: bold;
    filter: drop-shadow(0px 0px 3px rgba(0, 0, 0, 0.16));
}

.swiper-button-primary-next {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
}

.swiper-button-primary-prev {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
}

.main__wrapper {
    padding: 0 10px;
    background: #fff;
}

.main__local__heading-container {
    margin-bottom: 26px;
    display: flex;
    justify-content: space-between;
    align-items: center
}

.main__local__heading {
    width: 333px;
    font-family: "iCiel Baliho Script", "Roboto", sans-serif;
    font-size: 26px;
    line-height: 34px;
    color: #000000;
}

.main__local__heading-right {
    display: flex;
    align-items: center;
    justify-content: flex-end;

    width: 106px;
    height: 20px;
    color: #FF2C79;
    text-transform: uppercase;
}

.main__local__heading-right>svg {
    margin-left: 10px;
    width: 12px;
    height: 12px;

}

.swiper-slide img {
    border-radius: 8px;
}

/* Dùng chung company */
.main {
    background: #F2F2F2;
}


.main__breadcrumb-container {
    padding: 21px 10px 16px 10px;
}

.container-background {
    background: #fff;
}

.main__local__heading-common {
    border-bottom: 1px solid rgba(0, 0, 0, .1);
}

.main__local__heading-common {
    padding-top: 14px;
    padding-bottom: 14px;
    margin-bottom: 14px;
}

.main__local__heading-category {
    font-family: "iCiel Baliho Script", sans-serif;
    font-size: 36px;
    line-height: 34px;
    color: #000000;
}

.main__content-left {}

.row img {
    /* border-radius: 8px; */
}

.main__content-left__local {
    position: absolute;
    top: 16px;
    left: 16px;
    padding: 4px 8px;
    font-size: 12px;
    font-weight: 500;
    color: #ffffff;
    background: rgba(0, 0, 0, .6);
    border-radius: 11px;
}

.main__content-right {
    padding-left: 20px;
}

.main__content-right__top {
    display: flex;
    align-items: center;
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    font-weight: 500;
    color: #3f3356;
}

.main__content-right__top>svg {
    margin-right: 4px;
}

.main__content-right__top>span:nth-child(3),
.main__content-right__top>span:nth-child(6) {
    margin-right: 8px;
    margin-left: 8px;
}

.main__content-right__top__work {
    color: #10c923;
}

.main__content-right__heading {
    font-family: "Roboto";
    margin-top: 8px;
    font-size: 20px;
    font-weight: 500;
    line-height: 25px;
    font-style: normal;
    text-align: left;
    color: #000000;
}

.main__content-right__top__time-work {
    margin-top: 11px;
    display: flex;
    align-items: center;
    font-family: "Red Hat Display", sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: #3f3356;
}

.main__content-right__top__time-work svg {
    margin-right: 4px;

}

.main__content-right__top__time-work span {
    margin-right: 4px;
    margin-left: 4px;
}

.main__top__time-work__hour {
    padding: 0px 4px;
    border: 1px solid;
    border-radius: 4px;
}

.main__content-right__paragraph {
    margin-top: 16px;
    font-size: 14px;
    line-height: 20px;
    color: #707070;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.main__content-left__wrapper {
    margin-top: 30px;
}

.main__side-bar {
    padding-left: 2.7%;
}

.main__right-category {
    margin-top: 20px;
    /* width: 306px; */
    padding: 15px 11px 9px;

    border-radius: 8px;
    filter: drop-shadow(0px 3px 3px rgba(0, 0, 0, 0.16));
    background: #ffffff
}

.main__right-category__heading {
    text-transform: uppercase;
    height: 20px;
    font-size: 16px;
    font-weight: 500;
    color: #686767;
}

.main-category-item {
    display: flex;
    align-items: center;
    padding-left: 0;
    font-family: 'Red Hat Display', sans-serif;
}

.main-category-item+.main-category-item {
    margin-top: 17px;
}

.main-category-item .active {
    color: #ff2c79;
}

.main-category-item:nth-child(1) {
    margin-top: 13px;
}

.main-category-item>div {
    display: flex;
    width: 35px;
    height: 35px;
    margin-right: 22px;
    border-color: rgba(255, 255, 255, 0.34);
    border-width: 1.5px;
    border-style: solid;
    border-radius: 5px;
    filter: drop-shadow(0px 0px 3px rgba(224, 96, 173, 0.66));
    background: linear-gradient(132deg,
            #fd3379 0.00%,
            #ce469c 100.00%);
}

.main-category-item:nth-child(2)>div {
    filter: drop-shadow(0px 0px 3px rgba(253, 163, 109, 0.66));
    background: linear-gradient(131deg,
            #ec9f5f 0.00%,
            #fc6860 100.00%);
}

.main-category-item:nth-child(3)>div {
    filter: drop-shadow(0px 0px 3px rgba(251, 176, 18, 0.66));
    background: linear-gradient(131deg,
            #e5c119 0.00%,
            #fd8d09 100.00%);
}

.main-category-item:nth-child(4)>div {
    filter: drop-shadow(0px 0px 3px rgba(254, 122, 174, 0.6));
    background: linear-gradient(117deg,
            #e16da1 0.00%,
            #fe3770 100.00%);
}

.main-category-item:nth-child(5)>div {
    filter: drop-shadow(0px 0px 3px rgba(34, 213, 238, 0.66));
    background: linear-gradient(131deg,
            #18c2d2 0.00%,
            #00a1f1 100.00%);
}

.main-category-item:nth-child(1)>div img {
    width: 15px;
    height: 15px;
}

.main-category-item:nth-child(2)>div img {
    width: 18px;
    height: 18px;
}

.main-category-item:nth-child(3)>div img {
    width: 16px;
    height: 16px;
}

.main-category-item:nth-child(4)>div img {
    width: 16px;
    height: 17px;
}

.main-category-item:nth-child(5)>div img {
    width: 15px;
    height: 15px;
}

.main-category-item>div>img {
    width: 19px;
    height: 17px;
    border-radius: unset;
}

.main-category-item:nth-child>span {
    height: 19px;
    font-family: 'Red Hat Display', sans-serif;
    font-size: 14px;
    color: #ff2c79;
}

.main__right-banner {
    width: 100%;
    margin-top: 12px;
}

.main__right-banner img {
    border-radius: unset;
}

.main__content__primary {
    padding-bottom: 88px;
}

.navigation__wrapper {
    margin-top: 44px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.navigation__wrapper__desc {
    margin-right: 16px;
    font-family: "Roboto";
    font-size: 16px;
    color: #707070;
}

/* .navigation__primary */
.navigation__primary li>a {
    font-family: "Roboto";
    font-size: 16px;
    color: #707070;
    width: 36px;
    height: 36px;
    border-color: #dddddd;
    border-style: solid;
    border-radius: 3px;
    background: #ffffff
}

.navigation__primary li+li {
    margin-left: 10px;
}

.btn__next-primary {
    /* display: inline-block; */
    transform: rotate(180deg);
}

.span-icon-prev {
    display: inline-block;
    transform: translateY(-2px);
}

.main__content-right__user {
    margin-top: 15px;
    display: flex;
    align-items: center;
    font-family: "Roboto";
    font-size: 14px;
    color: #878787;
}

.main__content-right__user svg:nth-child(1),
.main__content-right__user svg:nth-child(4),
.main__content-right__user svg:nth-child(7) {
    display: inline-block;
    margin-right: 4px;
    transform: translateY(-2px);
}

.main__content-right__user span:nth-child(3),
.main__content-right__user span:nth-child(6) {
    margin-right: 8px;
    margin-left: 8px;
}

.main__event-text {
    margin-top: 14px;
}


/* detail */
.main__local-detail-category {
    margin-top: 24px;
    display: flex;
    align-items: center;
    font-family: "Roboto";
    font-size: 14px;
    color: #ff2c79;
}

.main__local-detail-category>svg {
    margin-right: 5px;
}

.main__detail-heading {
    font-family: "Roboto";
    font-size: 20px;
    font-weight: 500;
    color: #000000;
}

.main_-detail__infor-page {
    margin-top: 12px;
    justify-content: space-between;
}

.main__detail__infor__right-wrapper {
    display: flex;
    align-items: center;
    margin-top: 0;
}

.main_-detail__infor-page__right {
    font-family: "Roboto";
    font-size: 12px;
    color: rgb(135, 135, 135);
}

.main_-detail__infor-page__right span:nth-child(2),
.main_-detail__infor-page__right span:nth-child(5) {
    margin-left: 8px;
    margin-right: 8px;
}

.main__detail-heading2 {
    height: 125px;
    overflow: hidden;
    font-family: "Roboto";
    font-size: 16px;
    font-weight: bold;
    line-height: 30px;
    color: #555555;
}

.main__detail-hot-news {
    padding: 16px 16px 16px 28px;
    background: #FFCBDE;
    list-style: none;
    color: #555555;
    ;
}

.main__detail-hot-news__item {
    position: relative;
    /* padding-left: 20px; */
}

.main__detail-hot-news__item::before {
    content: '';
    position: absolute;
    top: 6px;
    left: -16px;
    width: 8px;
    height: 8px;
    border-radius: 100%;
    background: #ff2c79;
}

.main__detail__paragraph {
    margin-top: 20px;
    margin-bottom: 20px;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    line-height: 30px;
    color: #707070;
}

.main__detail__key-search {
    text-transform: uppercase;
    display: flex;
    align-items: center;
}

.main__detail__key-search>div:nth-child(1) {
    margin-right: 10px;
    /* font-family: "Roboto"; */
    font-size: 16px;
    line-height: 30px;
    color: #555555;
}

.main__detail__key-search-btn {
    display: block;
    padding: 3px 30px;
    border-radius: 20px;
    border: 1px solid;
    font-family: "Roboto";
    font-size: 12px;
    font-weight: 500;
    color: #707070;
}

.main__detail__key-search-btn+.main__detail__key-search-btn {
    margin-left: 10px;
}

.key-search-active {
    background-color: #f89c1c !important;
    color: white !important;
}

.main__detail-share-comment__wrapper {
    margin-top: 40px;
    padding: 0 16px;
}

.main__detail-share {
    text-transform: uppercase;
    padding-bottom: 8px;
    font-size: 18px;
    font-weight: bold;
    color: #000000;
    border-bottom: 1px solid rgba(0, 0, 0, .1);
}

.main__detail-share__btn-wrapper {
    margin-top: 16px;
}

.main__detail-share__btn {
    width: 300px;
    text-align: center;
    border-radius: 30px;
    padding: 6px 50px;
    color: #fff;
}

.main__detail-share__btn:hover {
    color: white;
}

.main__detail-share__btn+.main__detail-share__btn {
    margin-left: 16px;
}

.main__detail-share__btn:nth-child(1) {
    background: #1B95E0;

}

.main__detail-share__btn:nth-child(2) {
    background: #1257BE;
}

.main__detail-share__zalo {
    margin-right: 6px;
    transform: translateY(-2px);
}

.main__detail-share__facebook {
    margin-right: 4px;
}

.main__detail-comment {
    margin-top: 30px;
}

.main__detail__user-wrapper {
    border-bottom: 1px solid rgba(0, 0, 0, .1);
    margin-top: 26px;
    display: flex;
}

.main__detail__user-img {
    width: 48px;
    height: 48px;
    margin-right: 20px;
    border-radius: 24px;
    overflow: hidden;
}

.main__detail__user-comment {
    width: calc(100% - 68px);
    padding-bottom: 20px;
}

.main__detail__user-comment-input {
    outline: none;
    display: block;
    width: 100%;
    padding: 16px 10px 30px;
    font-size: 16px;
    color: #707070;
    border-radius: 4px;
    border: 1px solid rgba(0, 0, 0, .05);
    background: #f9f9f9;
}


.main__detail__user-comment-footer {
    margin-top: 16px;
    display: flex;
    justify-content: space-between;
}

.main__detail__user-comment-footer>p {
    width: calc(100% - 112px);
    padding-right: 20px;
    font-size: 14px;
    font-style: italic;
    color: #666666;
}

.main__detail__user-comment-btn {
    display: block;
    width: 112px;
    height: 32px;
    padding: 5px 0px;
    border-radius: 5px;
    font-size: 16px;
    color: #ffffff;
    background: #ff2c79
}

.main__detail__user-comment-right {
    width: calc(100% - 68px);
    padding-bottom: 20px;
}

.main__detail__user-comment-wrapper {
    display: flex;
    margin-top: 24px;
    border-bottom: 1px solid rgba(0, 0, 0, .1);
}

.main__detail__user-comment-wrapper:last-child {
    border-bottom: none;
}

.main__detail__user-name {
    margin-right: 4px;
    font-size: 15px;
    font-weight: bold;
    color: #000000;
}

.main__detail__user-day {
    margin-top: 5px;
    font-size: 13px;
    line-height: 19px;
    color: #0081ff;
}

.main__detail__user-text {
    margin-top: 10px;
    color: rgba(0, 0, 0, .8);
}

.main__detail__user-respond {
    margin-top: 16px;
    display: flex;
    align-items: center;
    font-size: 14px;
    color: #7a7a7a;
}

.main__detail__user-respond>button:nth-child(1) {
    margin-right: 4px;
}

.main__detail__user-respond>span:nth-child(2) {
    margin-right: 20px;
}

.main__detail__user-respond>button:nth-child(3) {
    margin-right: 4px;
}

.main__content__primary-detail {
    padding-bottom: 0;
}

.main__detail__view-all {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 20px;
    font-size: 14px;
    font-weight: 500;
    text-align: left;
    background: #f5f5f5;
    border-radius: 5px;
}

.main__detail__view-all-right {
    color: #ff2c79;
    text-transform: uppercase;
}

.main__detail__view-all-left {
    color: #f5f5f5;
}

.main__local__heading__place-around {
    font-weight: 400;
    text-transform: uppercase;
    font-size: 20px;
    font-family: "Roboto", sans-serif;
    color: black !important;
}

.main__local__heading__place-around-related {
    font-weight: 500;
}

.main__local__place-around {
    margin-top: 32px;
    margin-left: -12.5px;
    padding: 15px;
    background: #ffdcb4;
    color: black !important;
    font-weight: 300;
}

.main__local__heading-right__svg {
    fill: #555;
}

.main__local-detail-heading {
    font-weight: 400;
    color: #555;
}

.mb-reset {
    margin-bottom: 15px !important;

}

.main__local__place-item__left {
    width: calc(100% / 3);
    padding: 8px;
}

.main__local__place-item__left-place {
    position: absolute;
    top: 12px;
    left: 12px;
    padding: 0px 6px;
    font-size: 12px;
    font-weight: bold;
    color: #ffffff;
    background: rgba(0, 0, 0, .5);
    border-radius: 4px;
}

.main__local__place-item__right {
    width: calc(200% / 3);
    padding-top: 8px;
    padding-bottom: 8px;
    padding-right: 8px;
}

.main__local__place-around-item {
    background: white;
    border-radius: 6px;
}

.main__local__place-item__right-text {
    margin-top: 8px;
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    font-weight: bold;
    color: #373737;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;

}

.main__local__place-item__right-place {
    display: flex;
    margin-top: 6px;
}

.main__local__place-item__right-place>span:nth-child(1) {
    display: block;
    transform: translateY(-2px);
}

.main__local__place-item__right-place>span:nth-child(2) {
    margin-left: 8px;
    font-weight: normal;
    font-size: 14px;
    color: #3f3356;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}

.main__local__place-item__right-heart {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.main__local__place-item__right-heart>img {
    transform: translate(-6px, -2px);
}

.main__local__heading__place-correlative {
    margin-top: 26px;
    padding-bottom: 5px;
    border-bottom: 1px solid rgba(0, 0, 0, .1);
}

.main__local-place-correlative {
    padding: 8px;
    border: 1px solid rgba(0, 0, 0, .1);
    border-radius: 5px;
}

.main__local-place-correlative-img {
    width: 25%;
}

.main__local-place-correlative-img>img {
    width: 100%;
}

.main__local-place-correlative-right {
    display: flex;
    justify-content: space-between;
    padding-right: 8px;
    padding-left: 15px;
    width: 75%;
}

/* .main__local__pleace-correlative-left-wrapper {
    padding-right: 60px;
    border-right: 1px dashed rgba(0, 0, 0, .1);
} */

.main__local__place-item__right-text__correlative {
    color: #078888;
}

.main__local__place__correlative-map {
    position: relative;
    margin-top: 10px;
    padding-left: 40px;
    font-size: 14px;
    text-align: left;
    color: #0596d6;
}

.main__local__place__correlative-map::before {
    content: '';
    position: absolute;
    left: 22px;
    top: 50%;
    transform: translateY(-50%);
    width: 8px;
    height: 1px;
    background: #777;
}

.main__local-place-correlative-day {
    display: flex;
    justify-content: flex-end;
    margin-top: 40px;
}

.main__local-place-correlative-day>span:nth-child(1) {
    margin-right: 5px;
    font-size: 16px;
    font-style: italic;
    color: #858585;
}

.main__local-place-correlative-day>span:nth-child(2) {
    margin-right: 5px;
    font-size: 16px;
    font-weight: 500;
    color: #2b2b2b;
}

.main__local-place-correlative-day>span:nth-child(3)>svg {
    width: 14px;
    height: 14px;
}

.main__local-place-correlative {
    margin-bottom: 20px;
}

.main__local-place-correlative-side-right {
    text-align: right;
    padding-left: 40px;
    min-width: 200px;
}

.main__local-place-correlative-side-right::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0;
    border-right: 1px dashed rgba(0, 0, 0, .1);
}

.main__local-place-correlative-side-right-img {
    display: flex;
    justify-content: flex-end;
}

.main__local-place-correlative-time {
    display: flex;
    justify-content: flex-end;
}

.main__local-place-correlative-time>div {
    padding: 0 5px;
    font-size: 16px;
    font-weight: 500;
    color: #2b2b2b;
    border-color: #cbcbcb;
    border-width: 1px;
    border-style: solid;
    border-radius: 3px;
    min-width: 20px;
    width: fit-content;
}

.main__local-place-correlative-time>div+div {
    margin-left: 4px;
}

.main__local-place-correlative-btn {
    display: flex;
    justify-content: flex-end;
    /* justify-self: flex-end; */
    margin-top: 13px;
    text-transform: uppercase;
    filter: drop-shadow(0px 3px 3px rgba(0, 0, 0, 0.16));
    background: linear-gradient(90deg,
            #ffc041 0.00%,
            #ff9306 100.00%);
    text-align: center;
    border-radius: 5px;
    padding: 5px 32px;
    width: fit-content;
}

.main__local-place-correlative-btn button {
    display: block;
    text-transform: uppercase;
    font-size: 19px;
    color: #ffffff;
}

.main__local-place-correlative-btn__wrapper {
    display: flex;
    justify-content: flex-end;
}

.main__right__heading {
    margin-top: 30px;
    margin-bottom: 5px;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: bold;
    color: #ff2c79;
    border-bottom: 1px solid rgba(0, 0, 0, .1);
}

.main__right-news-wrapper {
    padding-bottom: 10px;
    border-bottom: 1px solid rgba(0, 0, 0, .1);
}

.main__right-news-img {
    margin-top: 14px;
    padding-right: 4px;
}

.main__right-img-desc {
    position: absolute;
    top: 10px;
    left: 10px;
    padding: 0px 5px;
    background: #f89c1c;
    border-radius: 4px;
    font-size: 13px;
    color: #ffffff;
}

.main__right-icon-video {
    position: absolute;
    top: 4px;
    right: 14px;
}

.main__right-news-heading {
    margin-top: 4px;
    font-size: 16px;
    font-weight: bold;
    color: #333333;
}

.main__right-news-desc {
    margin-top: 20px;
    font-size: 14px;
    color: #707070;
}

.main__right-news-footer {
    display: flex;
    justify-content: space-between;
}

.main__right-news-footer__right>svg+svg {
    margin-left: 20px;
}

/* detail2 */
.main__detail-separation {
    margin: 0 8px;
}

.main__detail__flip {
    transform: scaleX(-1);
}

.main__content-right__top__rating-bg {
    margin-left: 0 !important;
    margin-right: 4px !important;
    border-radius: 3px;
    background: #0081ff;
    color: white;
    padding: 0px 4px;
}

.reset-margin {
    margin: 0 !important;
}

.main__local__place-near-message {
    margin-left: 4px;
    color: #3f3356;

}

.main__local__place-item__distance-text {
    margin-left: 4px;
    font-family: "Roboto";
    font-size: 14px;
    color: #777777;
}

.main__local__place-near__footer {
    color: #0fb403;
    font-size: 14px;
}

.main__local__place-near__footer>span:nth-child(1) {
    display: inline-block;
    width: 10px;
    height: 10px;
    background: #0fb403;
    border-radius: 50%;
    margin-right: 4px;
}

.main__local__place-item__right-heart-2 {
    position: absolute;
    bottom: 10px;
    right: 16px;
}

.local-text-reset {
    margin-top: 12px;
    font-size: 16px;
    text-overflow: unset;
    display: block;
}

.local-map-reset {
    margin: 0;
    padding-left: 20px !important;
}

.local-map-reset::before {
    left: 6px;

}

.local-work-status {
    margin-top: 15px;
}

.main__content-right__top__star {
    color: #ff9d00;
}

.main__local-place-correlative__sale-off {
    margin-top: 16px;
}

.main__local-place-correlative__sale-off__number {
    font-family: "Roboto";
    font-size: 15px;
    color: #858585
}

.main__local-place-correlative__sale-off-percent {
    position: relative;
    display: inline-block;
    margin-left: 20px;
    padding: 2px 4px;
    font-family: "Roboto";
    font-size: 14px;
    font-weight: bold;
    line-height: 17px;
    color: #ffffff;
    background: #d72629;
    border-radius: 3px;
}

.main__local-place-correlative__sale-off-percent::after {
    position: absolute;
    top: 0px;
    left: -6px;
    content: '';
    width: 0;
    height: 0;
    border-top: 8px solid transparent;
    border-right: 8px solid #d72629;
}

.main__local-place-correlative__price {
    font-family: "Roboto";
    font-size: 14px;
    font-weight: 500;
    color: #2b2b2b;
}

.main__local-place-correlative__price-number {
    margin-right: 5px;
    font-family: "Roboto";
    font-size: 22px;
    font-weight: bold;
    color: #d72629;
}



.main__local-place-correlative__price-unit {
    font-family: "Roboto";
    font-size: 14px;
    font-weight: 500;
    font-style: normal;
    text-align: left;
    color: #2b2b2b;
}

.main__local-place-correlative__price-desc {
    font-family: "Roboto";
    font-size: 14px;
    font-style: italic;
    color: #0596d6
}

.reset-pd-left {
    padding-left: 0;
}

/* Begin: Góc ảnh(gallery)*/
.main-gallery {
    background: #fff;
}

.gallery__header-container {
    position: relative;
}

.gallery__header__wrapper {
    padding-top: 143px;
    padding-bottom: 134px;
}

.gallery__header__wrapper {
    height: auto;
}

.gallery__header__wrapper>img {
    position: absolute;
    z-index: 0;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.gallery__header__heading {
    font-family: "Roboto";
    font-size: 22px;
    font-weight: 500;
    color: #ffffff
}

.gallery__header__h1 {
    font-size: 70px;
    font-weight: 500;
    color: #ffffff;
}

.gallery__header__desc {
    margin-top: 12px;
    font-family: "Roboto";
    font-size: 22px;
    color: #ffffff;
}

.gallery__header__search-wrapper {
    margin-top: 24px;
    position: relative;
    width: fit-content;
}

.gallery__header__search {
    height: 46px;
    width: 591px;
    max-width: 100%;
    padding-left: 46px;
    line-height: 21px;
    font-family: "Segoe UI";
    font-size: 15px;
    border-color: #ff2c79;
    border-width: 0.5px;
    border-style: solid;
    border-radius: 23px;
    background: #f9f9f9;
    color: #bcbcbc;
    outline: none;

}

.gallery__header__search__icon {
    position: absolute;
    top: 23px;
    left: 23px;
    transform: translate(-50%, -50%);
}

.gallery__header__search__btn {
    position: absolute;
    top: 3px;
    right: 3px;
    width: 133px;
    height: 40px;
    text-align: center;
    font-family: "Roboto";
    font-size: 18px;
    border-radius: 20px;
    color: #ffffff;
    background: linear-gradient(124deg,
            #fd3379 0.00%,
            #ce469c 100.00%);
}

.gallery__content-wrapper {
    margin-top: 30px;
    padding: 0 28px;
}

.gallery__content__desc {
    margin-bottom: 18px;
    font-size: 18px;
    color: #515151;
}

.gallery__content__desc>span {
    font-weight: 500;
}

.gallery__content__item {
    height: 100%;
}

.gallery__content__item>img {
    border-radius: unset;
    height: 100%;
    object-fit: cover;

}

.col-3-1 {
    width: calc((4 / 12 + 4 / 120) * 100%);
}

.col-3-2 {
    width: calc((36 / 120) * 50%);
}

.col-4-1 {
    width: calc((1 / 5) * 100%);
}

.col-4-2 {
    width: calc((1 / 10) * 100%);
}

.gallery__content__img-wrapper>.row>div:hover>.gallery__img-hover {
    display: block;
}

.gallery__img-hover {
    overflow: hidden;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0%;
    background: rgba(253, 51, 121, .7);
    transition: height .2s linear
}

.gallery__content__item:hover>.gallery__img-hover {
    height: 100%;
}

.gallery__content__item:hover>.gallery__img-hover>.gallery__img-hover__heart {
    opacity: 1;
}

.gallery__content__item:hover>.gallery__img-hover>.gallery__img-hover__footer {
    opacity: 1;
}

.gallery__img-hover__heart {
    transition: opacity .5s linear;
    opacity: 0;
    cursor: pointer;
    top: 10px;
    right: 10px;

}


.gallery__img-hover__heart>img {
    display: block;
    height: 12px;
    filter: brightness(0) invert(1);
    -webkit-filter: brightness(0) invert(1);

}

.gallery__img-hover__heart:hover .gallery__img-hover__desc {
    display: flex;
}

.gallery__img-hover__desc {
    display: none;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
    width: 70px;
    height: 24px;
    font-family: "Roboto";
    font-size: 14px;
    font-weight: normal;
    color: #000000;
    border-radius: 3px;
    background: #ffffff
}

.gallery__img-hover__desc::after {
    content: '';
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: -2px;
    width: 0;
    height: 0;
    border-left: 3px solid #fff;
    border-bottom: 3px solid transparent;
    border-top: 3px solid transparent;


}

.gallery__img-hover__footer__heading {
    font-family: "Roboto";
    font-size: 16px;
    color: #ffffff;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}

.gallery__img-hover__footer {
    transition: opacity .5s linear;
    opacity: 0;
    bottom: 10px;
    left: 10px;
}

.gallery__img-hover__footer__icon {
    width: 100%;
    align-items: center;
    color: #fff;
    font-family: "Lato", sans-serif;
    font-size: 12px;
    /* overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical; */
}

.gallery__img-hover__footer__icon span:nth-child(2),
.gallery__img-hover__footer__icon span:nth-child(5),
.gallery__img-hover__footer__icon span:nth-child(8) {
    line-height: 1;
}

.gallery__img-hover__footer__icon span+span {
    margin-left: 5px;
}


.gallery__img-hover__footer__icon>* {
    flex-shrink: 0;
}

.gallery__img-hover__footer__icon>span:nth-child(1)>img,
.gallery__img-hover__footer__icon span:nth-child(4)>img {
    height: 12px;
}

.gallery__img-hover__footer__icon>span:nth-child(7) img {
    height: 8px;
}

/* -Góc ảnh(gallery) button footer */
.gallery__content__footer-wrapper {
    position: relative;
    display: flex;
    justify-content: center;
    padding-top: 52px;
    padding-bottom: 75px;
    text-align: center;
}

.gallery__content__footer-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 199px;
    height: 40px;
    font-size: 18px;
    color: #ffffff;
    border-radius: 20px;
    background: #fd3379;
    background: linear-gradient(124deg,
            #fd3379 0.00%,
            #ce469c 100.00%);
    cursor: pointer;
}

.gallery__content__footer-btn:hover {
    opacity: .7;
}

.gallery__content__footer-btn>svg {
    margin-left: 10px;
}

.btn-local-image {
    width: 26px !important;
    height: 26px !important;

}

.navigation__wrapper-local-image {
    position: absolute;
    top: 64px;
    right: 0;
    display: flex;
    font-size: 18px;
}

.local-image-input {
    margin: 0 9px;
    display: inline-block;
    padding-left: 13px;
    width: 55px;
    height: 26px;
    font-family: "Roboto";
    font-size: 14px;
    color: #515151;
    border-color: #bbbbbb;
    border-width: 1px;
    border-style: solid;
    background: #ffffff;
    outline: none;
}

.navigation__wrapper__desc-local-img {
    margin-right: 0;
    font-family: "Roboto";
    font-size: 18px;
    color: #515151;
}

.local-image-navigation {
    margin-left: 93px;
}

/* End: Góc ảnh(gallery)*/